@import '../foundations/grid.css';

@media screen and (min-width: 540px) {
   .container {
      grid-template-columns: repeat(6, minmax(0, 1fr));
   }
}

@media screen and (min-width: 960px) {
   .container {
      grid-template-columns: repeat(8, minmax(0, 1fr));
   }
}

@media screen and (min-width: 1280px) {
   .container {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-template-rows: auto;
      gap: var(--grid-base);
      align-items: start;
      align-content: start;
   }
}
