.content {
   --max-width: 37rem;

   font-family: var(--serif);
   max-width: var(--max-width);

   a:any-link {
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 1pt;
      transition:
         text-decoration-color var(--transition),
         color var(--transition);
   }

   a:link {
      color: var(--link);
      text-decoration-color: var(--link-underline);

      &:hover,
      &:active {
         color: var(--link-hover);
         text-decoration-color: var(--link-hover-underline);
      }
   }

   a:visited {
      color: var(--link-visited);
      text-decoration-color: var(--link-visited-underline);

      &:hover,
      &:active {
         color: var(--link-visited-hover);
         text-decoration-color: var(--link-visited-hover-underline);
      }
   }

   p + p {
      text-indent: 1lh;
      margin-top: 0;
   }

   ul,
   ol {
      margin-block: 1lh;
      padding-inline-start: 1lh;
      margin-trim: block;
   }

   abbr {
      font-variant: all-small-caps;
      letter-spacing: 0.05em;
   }
}
