.content {
   font-family: var(--serif);

   a:any-link {
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 1pt;
      transition:
         text-decoration-color var(--transition),
         color var(--transition);
   }

   a:link {
      color: var(--link);
      text-decoration-color: var(--link-underline);

      &:hover,
      &:active {
         color: var(--link-hover);
         text-decoration-color: var(--link-hover-underline);
      }
   }

   a:visited {
      color: var(--link-visited);
      text-decoration-color: var(--link-visited-underline);

      &:hover,
      &:active {
         color: var(--link-visited-hover);
         text-decoration-color: var(--link-visited-hover-underline);
      }
   }
}
