/* TODO: include fancier bits! */

.note {
    /* TODO: move to theme */
    background: light-dark(var(--blue-6), var(--blue-1));
    font-family: var(--sans);
    font-weight: 350;
    padding: 1lh;
}
