.content {
   --max-width: 35rem;
   padding: 2lh;

   font-family: var(--serif);
   max-width: var(--max-width);
   text-wrap: pretty;

   a:any-link {
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 1pt;
      transition:
         text-decoration-color var(--transition),
         color var(--transition);
   }

   a:link {
      color: var(--link);
      text-decoration-color: var(--link-underline);
   }

   a:link:hover,
   a:link:active {
      color: var(--link-hover);
      text-decoration-color: var(--link-hover-underline);
   }

   a:visited {
      color: var(--link-visited);
      text-decoration-color: var(--link-visited-underline);
   }

   a:visited:hover,
   a:visited:active {
      color: var(--link-visited-hover);
      text-decoration-color: var(--link-visited-hover-underline);
   }

   p + p {
      text-indent: 1lh;
      margin-top: 0;
   }

   ul,
   ol {
      margin-block: 1lh;
      padding-inline-start: 1lh;
      margin-trim: block;
   }

   abbr {
      font-variant: all-small-caps;
      letter-spacing: 0.05em;
   }

   h2 {
      font-family: var(--serif-alt);
      font-weight: 600;
      font-size: 2rem;
   }

   h3 {
      font-family: var(--serif-alt);
      font-weight: 500;
      font-size: 1.4rem;
   }

   h4 {
      font-family: var(--serif-alt);
      font-weight: 400;
      font-size: 1.2rem;
   }

   h5 {
      font-family: var(--sans);
      font-weight: 500;
      font-size: 1rem;
   }

   --special-margin: 0.75lh -0.75lh;
   --special-padding: 0.25lh 0.75lh;

   pre:has(code) {
      margin: var(--special-margin);
      padding: var(--special-padding);
      overflow-x: auto;
      background: var(--code-bg);
   }

   /* ----- Special content blocks ----- */
   blockquote,
   aside,
   .qualifiers,
   nav,
   .note,
   .footnotes {
      font-family: var(--sans);
      font-weight: 350;
      font-size-adjust: ex-height 0.48;
      margin: var(--special-margin);
      padding: var(--special-padding);
      line-height: var(--lh-sans);
   }
}
