a-at { color: light-dark(#7a3e9d, #f9e2af); }
a-c { color: light-dark(#aa3731, #6c7086); }
a-cb { color: light-dark(#7a3e9d, #fab387); }
a-cd { color: light-dark(#aa3731, #6c7086); }
a-ch { color: light-dark(#448c27, #a6e3a1); }
a-cn { color: light-dark(#000, #cba6f7); }
a-co { color: light-dark(#7a3e9d, #fab387); }
a-cs { color: light-dark(#448c27, #a6e3a1); }
a-da { color: light-dark(#448c27, #a6e3a1); }
a-dd { color: light-dark(#aa3731, #f38ba8); }
a-dr { color: light-dark(#000, #cba6f7); }
a-ex { color: light-dark(#000, #cba6f7); }
a-f { color: light-dark(#325cc0, #89b4fa); }
a-fb { color: light-dark(#325cc0, #89dceb); }
a-fc { color: light-dark(#325cc0, #89b4fa); }
a-fd { color: light-dark(#325cc0, #89b4fa); }
a-fm { color: light-dark(#325cc0, #89b4fa); }
a-in { color: light-dark(#000, #cba6f7); }
a-k { color: light-dark(#000, #cba6f7); }
a-kc { color: light-dark(#000, #cba6f7); }
a-kd { color: light-dark(#000, #cba6f7); }
a-ke { color: light-dark(#000, #cba6f7); }
a-kf { color: light-dark(#000, #cba6f7); }
a-ki { color: light-dark(#000, #cba6f7); }
a-km { color: light-dark(#000, #cba6f7); }
a-ko { color: light-dark(#000, #cba6f7); }
a-kp { color: light-dark(#000, #cba6f7); }
a-kr { color: light-dark(#000, #cba6f7); }
a-kt { color: light-dark(#000, #cba6f7); }
a-ky { color: light-dark(#000, #cba6f7); }
a-l { color: light-dark(#325cc0, #f5c2e7); }
a-m { color: light-dark(#325cc0, #94e2d5); }
a-n { color: light-dark(#7a3e9d, #fab387); }
a-o { color: light-dark(#777, #94e2d5); }
a-p { color: light-dark(#777, #9399b2); }
a-pb { color: light-dark(#777, #9399b2); }
a-pd { color: light-dark(#777, #9399b2); }
a-pp { color: light-dark(#000, #cba6f7); }
a-pr { color: light-dark(#000, #89b4fa); }
a-ps { color: light-dark(#777, #f5c2e7); }
a-rp { color: light-dark(#000, #cba6f7); }
a-rx { color: light-dark(#448c27, #a6e3a1); }
a-s { color: light-dark(#448c27, #a6e3a1); }
a-sc { color: light-dark(#000, #cba6f7); }
a-se { color: light-dark(#777, #fab387); }
a-sp { color: light-dark(#000, #cdd6f4); }
a-ss { color: light-dark(#777, #f38ba8); }
a-t { color: light-dark(#325cc0, #f9e2af); }
a-tb { color: light-dark(#325cc0, #f9e2af); }
a-td { color: light-dark(#325cc0, #89b4fa); }
a-te { color: light-dark(#325cc0, #89b4fa); }
a-tf { color: light-dark(#325cc0, #f9e2af); }
a-tg { color: light-dark(#325cc0, #89b4fa); }
a-tl { color: light-dark(#000, #cdd6f4); }
a-tq { color: light-dark(#325cc0, #f9e2af); }
a-tr { color: light-dark(#325cc0, #89dceb); }
a-tt { color: light-dark(#325cc0, #cba6f7); }
a-tu { color: light-dark(#325cc0, #89b4fa); }
a-v { color: light-dark(#000, #cdd6f4); }
a-vb { color: light-dark(#7a3e9d, #f38ba8); }
a-vm { color: light-dark(#000, #cdd6f4); }
a-vp { color: light-dark(#000, #fab387); }
