{#
   TODO: should this be a component, a macro, something else? I definitely do not like
      having it with implicit context of `config`.
#}
<author>
   <name>{{config.author.name}}</name>
   <email>{{config.author.email}}</email>
   <uri>{{config.url}}</uri>
</author>
