:root {
   color-scheme: light dark;
   --bg: light-dark(var(--gray-6), var(--gray-0));
   --fg: light-dark(var(--gray-0), var(--gray-5));

   --bg-root: light-dark(var(--gray-5), var(--gray-1));

   --link: light-dark(var(--blue-1), var(--blue-4));
   --link-underline: var(--gray-4);
   --link-hover: light-dark(var(--blue-0), var(--gray-6));
   --link-hover-underline: light-dark(var(--blue-2), var(--blue-2));
   --link-visited: light-dark(var(--purple-1), var(--purple-5));
   --link-visited-underline: var(--gray-4);
   --link-visited-hover: light-dark(var(--purple-0), var(--gray-6));
   --link-visited-hover-underline: var(--purple-5);

   --border: light-dark(var(--gray-4), var(--gray-2));

   --note-bg: light-dark(var(--blue-6), var(--blue-1));
   --note-fg: light-dark(var(--blue-0), var(--blue-6));
   --note-border: light-dark(var(--blue-1), var(--blue-3));

   --qualifiers-bg: light-dark(var(--purple-7), var(--purple-1));
   --qualifiers-border: light-dark(var(--purple-1), var(--purple-3));

   --blockquote-border: light-dark(var(--blue-1), var(--blue-3));

   --code-bg: light-dark(var(--gray-5), var(--gray-2));
}

.light:root {
   color-scheme: light;
}

.dark:root {
   color-scheme: dark;
}
