<meta name="twitter:label1" content="{{ label1 }}" />
<meta name="twitter:data1" content="{{ data1 }}" />
<meta name="twitter:label2" content="{{ label2 }}" />
<meta name="twitter:data2" content="{{ data2 }}" />
